.items-manager-interface {
  bottom: -5px;
  left: 200px;
  position: fixed;

  .btn-item-manager-toggle {
    bottom: -2px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .items-manager-container {
    min-height: 35vh;
    max-height: 60vh;
    // min-width: 900px;
    padding: 10px 80px;
    border: 2px solid;
    border-radius: 4px;

    overflow: scroll;

    .items-manager {
      margin: 20px 40px;

      .add-new {
        margin-top: 12px;
        width: 100%;
        display: flex;
        justify-content: end;
      }
    }
  }
}
