.card {
  padding: 18px;
  border-radius: 6px;
  border: 1px solid;

  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

// Container
.common-container {
  padding: 24px 80px;
  width: 1160px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  margin-top: 48px;

  > .block-title {
    border-bottom: 1px solid;
    margin-bottom: 48px;
    padding: 0 80px;
    padding-bottom: 24px;
    width: 100%;
  }
}

// Form
.common-form {
  .chakra-input__group {
    margin-top: 24px;
  }

  .error-fb {
    color: #cc361f;
  }

  .form-actions {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin-top: 60px;
    margin-bottom: 24px;
  }
}

// Table
.merch-table {
  border: 1px solid;
  border-radius: 4px;

  .chakra-editable {
    > * {
      min-height: 20px;
      min-width: 40px;
      width: 100%;
      background-color: transparent;
    }
  }

  Thead {
    // background-color: red;
    display: block;
    position: sticky;
    top: 0;
  }

  Tbody {
    // background-color: red;
    display: block;
    overflow-y: scroll;
    max-height: 600px;
  }

  tr {
    &.no-id {
      background-color: rgba(230, 78, 78, 0.1);
    }
    &.unlisted {
      background-color: rgba(160, 160, 160, 0.5);
    }
  }

  td,
  th {
    &:first-child,
    &:nth-child(2) {
      border-right: 1px solid;
    }

    &.description {
      min-width: 110px;
      max-width: 110px;
    }
    &.name {
      min-width: 142px;
      max-width: 142px;
    }
    &.price {
      max-width: 150px;
      min-width: 150px;
    }
    &.amount {
      width: 80px;
      max-width: 80px;
    }
    &.date {
      min-width: 126px;
      max-width: 126px;
      input {
        width: 102px;
        max-width: 102px;
      }
    }
    &.total-spent {
      min-width: 170px;
      max-width: 170px;
    }
    &.sales-over-expected {
      width: 270px;
      max-width: 270px;
    }
    &.selection {
      min-width: 40px;
      max-width: 40px;
      text-align: center;
    }
    &.align-center {
      text-align: center;
    }
  }

  th {
    &.selection {
      max-width: 60px;
    }
  }

  td {
    padding: 0 20px;
    max-width: 280px;

    // border-collapse: collapse;

    .chakra-editable__preview {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .add-new {
    margin-top: 12px;
    width: 100%;
    display: flex;
    justify-content: end;
  }
}

.table {
  tr {
    &.highlightable {
      &:hover {
        transition: all ease-in-out 0.01s;
        background-color: rgba(245, 207, 39, 0.2);
      }
    }
  }
}

// Custom css properties
.no-padding {
  padding: 0;
}

.comic-panels-padding {
  padding: 24px 80px;
}

.no-info {
  padding: 25px;
  align-self: center;
  text-align: center;
}

/* Responsiveness */

// Galaxy Tab s8+ Portrait
@media only screen and (max-device-width: 900px) {
  .common-container {
    width: 640px;
  }

  .comic-panels-padding {
    padding: 24px 8px;
  }
}
