.header {
  // background-color: rgb(156, 121, 171);
  width: 100%;
  font-weight: 500;
  // border-bottom: 1px solid #e2e8f0;

  > * {
    padding: 10px 80px;
  }

  img {
    display: inline-block;
  }

  .color-switch {
    .switch {
      margin: 0 8px;
    }
  }
}
