.merch-input-container {
  .header-space {
    padding-right: 10px;
    margin-top: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    h2 {
      margin-left: 20px;
      font-weight: 700;
    }
  }

  .table {
    // overflow-y: scroll;
    // max-height: 80vh;
  }
}
